*{
	text-align: center;
	background-image: url("https://research.rabobank.com/far/en/images/Sugar-1920.jpg");
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	color: brown;
	font-family: Segoe UI, sans-serif;
}
.suger{
display: block;
display: center;
padding: 30px;
border: 7px solid brown;
margin: 10px;
text-align: center;
}

.food{
display: inline-block;
display: center;
padding: 30px;
margin: 10px;
text-align: center;
}